.aside {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-right: 1px solid #1d2e3f;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 100%;
  position: relative;
  font-size: 700;
  padding: 12px;
}

.active {
  background-color: #56b89020 !important;
  color: white !important;
}

.thirteen {
  filter: drop-shadow(0 0 5px #f2f5f7);
  letter-spacing: 1px;
}

.menuItems {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Items {
  margin: 6px;
}

.buttonUI {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 6px;
  align-items: center;
  background-color: transparent;
  color: #7c859e;
  font-weight: 500;
  font-size: 14px;
  border: none;
  transition: 150ms ease-in;
}

.buttonUI .buttonLogo {
  display: flex;
  align-items: center;
  fill: beige;
}

.buttonName {
  padding: 4px 6px;
}

.buttonUI:hover .buttonName {
  color: #ffffffc7;
}

.buttonUI:hover {
  background-color: #56b89020;
}
.buttonUI:hover .buttonLogo {
  color: #ffffffc7;
}

/* .buttonUI:hover .buttonName {
  color: rgba(255, 255, 255, 0.808);
}
.buttonUI .buttonName {
  padding-left: 15px;
} */
