.tasksTab {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.addTaskButton {
  background-color: #052431 !important;
  border: none !important;
  font-size: 14px !important;
  text-transform: unset !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 8px !important;
  height: max-content;
  font-family: "Inter" !important;
  transition: 200ms ease;
  color: white !important;
}

.addTaskButton:hover {
  background-color: #09425c !important;
  transition: 200ms ease;
  border: none !important;
}

.borderButton {
  display: flex;
  justify-content: center;
  max-width: 140px;
  background: linear-gradient(to bottom, #133749, #010a0e);
  height: 90%;
  border-radius: 8px;
  padding: 14px;
  margin: 20px 0 0 5px;
}

.contentMain {
  margin: 20px 10px 0px 5px;
  padding: 18px 12px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  flex: 1;
  gap: 15px;
  border-radius: 8px;
}
