* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  color: #e2ebf8;
  background: #0b1120;
  opacity: 0.8;
  background-image: linear-gradient(#181a44 1px, transparent 1px),
    linear-gradient(to right, #1d1f3d 1px, #131d36 1px);
  background-size: 3px 3px;
  line-height: 1.25;
  z-index: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbarMain {
  display: flex;
  z-index: 5;
}

.sectionLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  z-index: 15;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 0 35px;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 32px;
}

.css-uhb5lp {
  background-color: #212429 !important;
  width: 400px !important;
  min-height: 400px !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 0 35px !important;
  justify-content: space-evenly !important;
  text-align: center !important;
  border-radius: 32px !important;
}
