* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  color: #e2ebf8;
  background: radial-gradient(circle at 150% 0, #182b42 0, #111526 100%);
  line-height: 1.25;
  font-family: "Inter", roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbarMain {
  display: flex;
  z-index: 1;
}

.sectionLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background: #212429 !important;
  width: 400px !important;
  min-height: 400px !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 0 35px !important;
  justify-content: space-evenly !important;
  text-align: center !important;
  border-radius: 32px !important;
}

.css-uhb5lp {
  background: #212429 !important;
}

.css-1ujsas3 {
  color: #fff;
}
