* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  color: #e2ebf8;
  background: radial-gradient(circle at 150% 0, #182b42 0, #111526 100%);
  line-height: 1.25;
  font-family: "Inter", roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbarMain {
  display: flex;
  z-index: 1;
}

.sectionLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background: #212429 !important;
  width: 400px !important;
  min-height: 400px !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 0 35px !important;
  justify-content: space-evenly !important;
  text-align: center !important;
  border-radius: 32px !important;
}

.css-uhb5lp {
  background: #212429 !important;
  width: 400px !important;
  min-height: 400px !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 0 35px !important;
  justify-content: space-evenly !important;
  text-align: center !important;
  border-radius: 32px !important;
}

.css-1ujsas3 {
  color: #fff !important;
}

.react-datepicker {
  border: none !important;
  color: #fff !important;
  font-family: "Inter" !important;
}

.react-datepicker__header {
  background: radial-gradient(circle at 150% 0, #182b42 0, #111526 100%);
  color: #fff !important;
  border: none !important;
  font-family: "Inter" !important;
}
.react-datepicker__current-month {
  color: #fff !important;
  font-family: "Inter" !important;
}

.react-datepicker__month-container {
  background: radial-gradient(circle at 150% 0, #182b42 0, #111526 100%);
  color: #fff !important;
  font-family: "Inter" !important;
}

.react-datepicker__week {
  color: #fff !important;
  font-family: "Inter" !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: white !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  color: black !important;
}

.css-18mjx21-MuiFormControl-root {
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
}

.css-1si2chx {
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  flex: 1 !important;
}

.css-qiwgdb.css-qiwgdb.css-qiwgdb {
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  flex: 1 !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
  margin-left: auto !important;
}
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
  margin-left: auto !important;
}

.css-w66kx-MuiChip-root {
  text-align: start !important;
  padding: 0 !important;
  width: max-content !important;
  height: 20px !important;
  border-radius: 4px important;
  color: white !important;
}

.css-9iedg7 {
  text-align: start !important;
  padding: 0 !important;
  width: max-content !important;
  height: 20px !important;
  border-radius: 4px important;
  color: white !important;
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  background-color: #111526 !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background: radial-gradient(
    circle at 150% 0,
    #182b42 0,
    #111526 100%
  ) !important;
  color: #fff !important;
  font-family: "Inter" !important;
}

.css-r8u8y9 {
  background: radial-gradient(
    circle at 150% 0,
    #182b42 0,
    #111526 100%
  ) !important;
  color: #fff !important;
  font-family: "Inter" !important;
}

.css-r8u8y9 li:hover {
  background-color: rgb(23, 95, 89) !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list li:hover {
  background-color: rgb(23, 95, 89) !important;
}
