/* .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background: #212429 !important;
    width: 400px !important;
    min-height: 400px !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 0 35px !important;
    justify-content: space-evenly !important;
    text-align: center !important;
    border-radius: 32px !important;
  }
   */

